
<div class="container-fluid row">
	<div class="card col-sm-6 position-relative shadow p-3 mb-5 bg-light rounded">
		<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
			{{ unreadNotifications }}
		</span>

		<div class="card-body">
			<h2 class="card-title">Exercise</h2>
			<p class="card-text">
				Redo this card in css and if possible using bootstrap 4 or 5
			</p>
			
			<div class="row text-right">
				<div class="col-sm-2">
				</div>

				<div class="col-sm-6">
					<div class="btn-group" role="group">
						<input type="radio" class="btn-check" name="options" id="gotit" autocomplete="off" checked>
						<label class="btn btn-outline-dark" for="gotit">Got it</label>
						
						<input type="radio" class="btn-check" name="options" id="dontknow" autocomplete="off">
						<label class="btn btn-outline-dark" for="dontknow">I don't know</label>
					</div>
				</div>

				<div class="col-sm-4">
					<select class="form-select btn btn-secondary" aria-label="Options">
						<option selected>Options</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>